/build
/.gradle
/.idea
/target
/out
.classpath
.project
/.settings
/bin
/history
*.iml
*.ipr
*.iws
Prueba_Caso_Tarifa/.idea
Prueba_Caso_Tarifa/out
Prueba_Caso_Tarifa/target
Prueba_Caso_Tarifa/settings.gradle
Prueba_Caso_Tarifa/.gradle
target/
build/
history/
bin/
.classpath
.project
.settings/
.idea/
out/
.gradle/